In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('tmp/ingre_match_pair.csv')

In [3]:
df

               query                  match      score
0              đường              đường mía   5.389518
1              đường             đường hfcs   5.389518
2              đường          đường glucose   5.389518
3              đường             đường kính   5.389518
4              đường          đường lactose   5.389518
...              ...                    ...        ...
49169  hạt dẻ nghiền  hương hạt dẻ tổng hợp  13.155146
49170  hạt dẻ nghiền     có thể chứa hạt dẻ  13.155146
49171  hạt dẻ nghiền             táo nghiền   9.075975
49172  hạt dẻ nghiền           chuối nghiền   9.075975
49173  hạt dẻ nghiền         cà chua nghiền   8.394096

[49174 rows x 3 columns]

In [4]:
# set intersection percentage score
import re
def set_intersection_score(text1, text2):
    set1 = set(re.findall(r'[\w\d]+', text1))
    set2 = set(re.findall(r'[\w\d]+', text2))
    return len(set1.intersection(set2)) / len(set1)

In [5]:
df['jacc_score'] = df.apply(lambda x: set_intersection_score(x['query'], x['match']), axis=1)

In [8]:
df[df['jacc_score'] >= 0.75].to_csv('tmp/match_pair_jacc.csv', index=False)

In [7]:
df[df['jacc_score'] >= 0.5]

               query                  match      score  jacc_score
0              đường              đường mía   5.389518    1.000000
1              đường             đường hfcs   5.389518    1.000000
2              đường          đường glucose   5.389518    1.000000
3              đường             đường kính   5.389518    1.000000
4              đường          đường lactose   5.389518    1.000000
...              ...                    ...        ...         ...
49166  hạt dẻ nghiền            hạt dẻ cười  14.824724    0.666667
49167  hạt dẻ nghiền             sữa hạt dẻ  14.824724    0.666667
49168  hạt dẻ nghiền      hạt dẻ dạng paste  13.938021    0.666667
49169  hạt dẻ nghiền  hương hạt dẻ tổng hợp  13.155146    0.666667
49170  hạt dẻ nghiền     có thể chứa hạt dẻ  13.155146    0.666667

[41674 rows x 4 columns]

In [1]:
import pandas as pd

In [2]:
nutri_df = pd.read_csv('data/nutri_list_raw.csv')

In [3]:
all_nutri = list(set(nutri_df['nutri_name'].tolist()))

In [16]:
def preprocess_nutri_name(nutri_name):
    nutri_name = nutri_name.lower()
    nutri_name = nutri_name.replace('of which', ' ')
    nutri_name = nutri_name.replace('total', ' ')
    nutri_name = nutri_name.strip()
    return nutri_name

In [30]:
all_nutri = [preprocess_nutri_name(i) for i in all_nutri]
all_nutri = list(set(all_nutri))

In [31]:
from self_match_util import SelfMatchUtil

smu = SelfMatchUtil('self_match_nutri_11', all_nutri)

{'name': 'VINHVAN-ITC-AI', 'cluster_name': 'elasticsearch', 'cluster_uuid': 'nGpADS-xR_2jfOXdEXGYXw', 'version': {'number': '8.4.2', 'build_flavor': 'default', 'build_type': 'tar', 'build_hash': '89f8c6d8429db93b816403ee75e5c270b43a940a', 'build_date': '2022-09-14T16:26:04.382547801Z', 'build_snapshot': False, 'lucene_version': '9.3.0', 'minimum_wire_compatibility_version': '7.17.0', 'minimum_index_compatibility_version': '7.0.0'}, 'tagline': 'You Know, for Search'}
DATA SIZE:  97
{'count': 97, '_shards': {'total': 1, 'successful': 1, 'skipped': 0, 'failed': 0}}

In [32]:
match_df = smu.run_pipeline()

In [39]:
match_df = match_df[match_df['jacc_score'] >= 0.7]

In [40]:
match_df.to_csv("tmp/standard_nutri_match.csv", index=False)

In [35]:
all_nutri[0]

'manganese ( mn )'

In [36]:
smu.search_term('vitamin a')['hits']['hits']

[{'_index': 'self_match_nutri_11',
  '_id': 'Damo2IgBE7ilYO3Z3wkk',
  '_score': 6.308087,
  '_source': {'full_name_no_unique': 'vitamin a'}},
 {'_index': 'self_match_nutri_11',
  '_id': '3qmo2IgBE7ilYO3Z3wgk',
  '_score': 4.295032,
  '_source': {'full_name_no_unique': 'vitamin a (preformed = retinol; beta-carotene can be converted to vitamin a)'}},
 {'_index': 'self_match_nutri_11',
  '_id': 'vKmo2IgBE7ilYO3Z3wgk',
  '_score': 1.5350505,
  '_source': {'full_name_no_unique': 'vitamin b6'}},
 {'_index': 'self_match_nutri_11',
  '_id': 'v6mo2IgBE7ilYO3Z3wgk',
  '_score': 1.5350505,
  '_source': {'full_name_no_unique': 'vitamin b5'}},
 {'_index': 'self_match_nutri_11',
  '_id': 'w6mo2IgBE7ilYO3Z3wgk',
  '_score': 1.5350505,
  '_source': {'full_name_no_unique': 'vitamin e'}},
 {'_index': 'self_match_nutri_11',
  '_id': 'xqmo2IgBE7ilYO3Z3wgk',
  '_score': 1.5350505,
  '_source': {'full_name_no_unique': 'vitamin c'}},
 {'_index': 'self_match_nutri_11',
  '_id': 'yKmo2IgBE7ilYO3Z3wgk',
  '_score': 1.5350505,
  '_source': {'full_name_no_unique': 'vitamin d'}},
 {'_index': 'self_match_nutri_11',
  '_id': 'zamo2IgBE7ilYO3Z3wgk',
  '_score': 1.5350505,
  '_source': {'full_name_no_unique': 'vitamin k1'}},
 {'_index': 'self_match_nutri_11',
  '_id': 'zqmo2IgBE7ilYO3Z3wgk',
  '_score': 1.5350505,
  '_source': {'full_name_no_unique': 'vitamin b2'}},
 {'_index': 'self_match_nutri_11',
  '_id': '4Kmo2IgBE7ilYO3Z3wgk',
  '_score': 1.5350505,
  '_source': {'full_name_no_unique': 'vitamin b3'}}]

In [37]:
df_match = smu.self_match()

In [38]:
df_match

,query,match,score
0,folate (folic acid; vitamin b9),acid folic,7.045232
1,folate (folic acid; vitamin b9),vitamin b9,6.308087
2,folate (folic acid; vitamin b9),pantothenic acid (vitamin b5),4.152420
3,folate (folic acid; vitamin b9),niacin (vitamin b3; nicotinic acid),2.928260
4,folate (folic acid; vitamin b9),acid amin,2.739140
...,...,...,...
331,fat,trans fat,3.016601
332,fat,monounsaturated fat,3.016601
333,fat,polyunsaturated fat,3.016601
334,fat,saturated fat,3.016601
335,fat,energy from fat,2.615826

In [ ]:
smu.compute_jacc_score(df_match)

            query                match     score  jacc_score
0    total sugars               sugars  4.719804         0.5
1    total sugars      of which sugars  3.482282         0.5
2    total sugars   total carbohydrate  3.473601         0.5
3    total sugars  total carbohydrates  3.473601         0.5
4    total sugars            total fat  3.473601         0.5
..            ...                  ...       ...         ...
379    vitamin b9           vitamin pp  1.615594         0.5
380    vitamin b9            vitamin c  1.615594         0.5
381    vitamin b9          vitamin b12  1.615594         0.5
382    vitamin b9           vitamin k1  1.615594         0.5
383    vitamin b9           vitamin k2  1.615594         0.5

[384 rows x 4 columns]

In [ ]:
# self.self_index()
match_df = smu.self_match()

In [7]:
ret = smu.compute_jacc_score(match_df)

In [8]:
ret

,query,match,score,jacc_score
0,folate (folic acid; vitamin b9),acid folic,7.233058,0.4
1,folate (folic acid; vitamin b9),vitamin b9,6.507394,0.4
2,folate (folic acid; vitamin b9),pantothenic acid (vitamin b5),4.316657,0.4
3,folate (folic acid; vitamin b9),niacin (vitamin b3; nicotinic acid),3.058835,0.4
4,folate (folic acid; vitamin b9),acid linoleic,2.827783,0.2
...,...,...,...,...
379,vitamin d,vitamin b2,1.615594,0.5
380,vitamin d,vitamin b3,1.615594,0.5
381,vitamin d,vitamin k2,1.615594,0.5
382,beta caroten,vitamin a (preformed = retinol; beta-carotene ...,1.755937,0.5
383,carbohydrate,total carbohydrate,4.405274,1.0

In [42]:
all_nutri

['manganese ( mn )',
 'folate (folic acid; vitamin b9)',
 'vitamin b6',
 'iodine ( i )',
 'acid amin',
 'vitamin b5',
 'added sugar',
 'protid',
 'copper ( cu )',
 'vitamin e',
 'pantothenic acid (vitamin b5)',
 'potassium ( k )',
 'vitamin c',
 'molybdenum ( mo )',
 'vitamin d',
 'pantothenic acid',
 'fluorid',
 'mct',
 'biotin (vitamin b7)',
 'vitamin k1',
 'vitamin b2',
 'tryptophan',
 'gos',
 'salt',
 'cholline',
 'carnitin',
 'nh3',
 'ntp',
 'chloride',
 'choline',
 'litpit',
 'selenium ( se )',
 'thiamin (vitamin b1)',
 'dha',
 'energy',
 'chromium ( cr )',
 'vitamin a (preformed = retinol; beta-carotene can be converted to vitamin a)',
 'cholesterol',
 'vitamin b3',
 'calcium ( ca )',
 'moisture',
 'acid pantothenic',
 'vitamin b6 (pyridoxal, pyridoxine, pyridoxamine)',
 'tds',
 'unsaturated fat',
 'acid linoleic',
 'proteins',
 'trans fat',
 'carbohydrates',
 'riboflavin (vitamin b2)',
 'fibre',
 'fluoride',
 'vitamin k2',
 'vitamin e (alpha-tocopherol)',
 'zinc ( zn )',
 'monounsaturated fat',
 'carbohydrate',
 'vitamin d3',
 'vitamin pp',
 'vitamin b1',
 'lysin',
 'dietary fiber',
 'soluble dietary fiber',
 'vitamin d (calciferol)',
 'iron ( fe )',
 'inositol',
 'lutein',
 'biotin',
 'taurin',
 'niacin',
 'niacin (vitamin b3; nicotinic acid)',
 'vitamin b9',
 'energy from fat',
 'polyunsaturated fat',
 'vitamin k (phylloquinone, menadione)',
 'nickel ( ni )',
 'beta caroten',
 'fiber',
 'follic acid',
 'selen',
 'taurine',
 'vitamin b12',
 'sugars',
 'vitamin a',
 'magnesium ( mg )',
 'tea polyphenol',
 'nucleotid',
 'protein',
 'phosphorus',
 'sodium ( na )',
 'saturates',
 'saturated fat',
 'chlorine ( cl )',
 'lipid',
 'acid folic',
 'iot',
 'fat']

In [43]:
remove_list = """
vitamin b6
vitamin b5
vitamin e
vitamin d
pantothenic acid
pantothenic acid
vitamin b2
vitamin b3
acid pantothenic
acid pantothenic
vitamin b1
vitamin a
acid folic
energy from fat
""".split('\n')

In [44]:
all_nutri = [i for i in all_nutri if i not in remove_list]

In [45]:
all_nutri

['manganese ( mn )',
 'folate (folic acid; vitamin b9)',
 'iodine ( i )',
 'acid amin',
 'added sugar',
 'protid',
 'copper ( cu )',
 'pantothenic acid (vitamin b5)',
 'potassium ( k )',
 'vitamin c',
 'molybdenum ( mo )',
 'fluorid',
 'mct',
 'biotin (vitamin b7)',
 'vitamin k1',
 'tryptophan',
 'gos',
 'salt',
 'cholline',
 'carnitin',
 'nh3',
 'ntp',
 'chloride',
 'choline',
 'litpit',
 'selenium ( se )',
 'thiamin (vitamin b1)',
 'dha',
 'energy',
 'chromium ( cr )',
 'vitamin a (preformed = retinol; beta-carotene can be converted to vitamin a)',
 'cholesterol',
 'calcium ( ca )',
 'moisture',
 'vitamin b6 (pyridoxal, pyridoxine, pyridoxamine)',
 'tds',
 'unsaturated fat',
 'acid linoleic',
 'proteins',
 'trans fat',
 'carbohydrates',
 'riboflavin (vitamin b2)',
 'fibre',
 'fluoride',
 'vitamin k2',
 'vitamin e (alpha-tocopherol)',
 'zinc ( zn )',
 'monounsaturated fat',
 'carbohydrate',
 'vitamin d3',
 'vitamin pp',
 'lysin',
 'dietary fiber',
 'soluble dietary fiber',
 'vitamin d (calciferol)',
 'iron ( fe )',
 'inositol',
 'lutein',
 'biotin',
 'taurin',
 'niacin',
 'niacin (vitamin b3; nicotinic acid)',
 'vitamin b9',
 'polyunsaturated fat',
 'vitamin k (phylloquinone, menadione)',
 'nickel ( ni )',
 'beta caroten',
 'fiber',
 'follic acid',
 'selen',
 'taurine',
 'vitamin b12',
 'sugars',
 'magnesium ( mg )',
 'tea polyphenol',
 'nucleotid',
 'protein',
 'phosphorus',
 'sodium ( na )',
 'saturates',
 'saturated fat',
 'chlorine ( cl )',
 'lipid',
 'iot',
 'fat']

In [ ]:
# write to file csv pandas

nutri_df = pd.DataFrame(all_nutri, columns=['nutri_name'])
nutri_df.to_csv('tmp/nutri_list.csv', index=False)